{% load static %}
{% load widget_tweaks %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inventory Online System</title>

    <link href="{% static 'ela_admin/css/lib/chartist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'ela_admin/css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'ela_admin/css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'ionicons-2.0.1/css/ionicons.min.css' %}" rel="stylesheet" />
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link href="{% static 'ela_admin/css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'ela_admin/css/style.css' %}" rel="stylesheet">
    {% block title %}
    {% endblock %}
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">
                        <!-- Logo icon -->
                        <b class="ion-ios-monitor-outline"></b>
                        <!--End Logo icon -->
                        <!-- Logo text-->
                        <span>Inventory System</span>
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up text-muted" href="javascript:void(0)">
                                <i class="mdi mdi-menu"></i>
                            </a>
                        </li>
                        <li class="nav-item m-l-10">
                            <a class="nav-link sidebartoggler hidden-sm-down text-muted" href="javascript:void(0)">
                                <i class="ti-menu"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Login and Logout button -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ion-gear-a"></i></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li>
                                        <a>
                                            <i class="ion-log-in"></i> Login
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="ion-log-out"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">Home</li>
                        <li>
                            <a href="{% url 'index' %}" aria-expanded="false">
                                <i class="fa fa-home"></i>
                                <span class="hide-menu">Index</span>
                            </a>
                        </li>
                        <li>
                            <a class="has-arrow" href="#data" data-toggle="collapse" aria-expanded="false">
                                <i class="ion-pricetags"></i>
                                <span class="hide-menu">Data</span>
                            </a>
                            <ul class="collapse" aria-expanded="false" id="data">
                                <li><a href="{% url 'teacher_list' %}"><i class="ion-person"></i> Teacher</a></li>
                                <li><a href="{% url 'student_list' %}"><i class="ion-university"></i> Student</a></li>
                                <li><a href="{% url 'course_list' %}"><i class="ion-ios-flask"></i> Course</a></li>
                                <li><a href="{% url 'week_list' %}"><i class="ion-ios-grid-view"></i> Week</a></li>
                                <li><a href="{% url 'inventory_list' %}"><i class="ion-clipboard"></i> Inventory</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'inventory_result' %}" aria-expanded="false">
                                <i class="ion-paper-airplane"></i>
                                <span class="hide-menu">Result</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-primary">{{ title }}</h3>
                </div>
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">{{ page }}</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->
            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                {% block content %}
                {% endblock %}
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a>. System builded by Ryuu</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->

    <!-- All Jquery -->
    <script src="{% static 'ela_admin/js/lib/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'ela_admin/js/lib/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'ela_admin/js/jquery.slimscroll.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'ela_admin/js/sidebarmenu.js' %}"></script>
    <!--stickey kit -->
    <script src="{% static 'ela_admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js' %}"></script>

    <script src="{% static 'ela_admin/js/lib/datamap/d3.min.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/datamap/topojson.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/datamap/datamaps.world.min.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/datamap/datamap-init.js' %}"></script>

    <script src="{% static 'ela_admin/js/lib/weather/jquery.simpleWeather.min.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/weather/weather-init.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>


    <script src="{% static 'ela_admin/js/lib/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/chartist/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'ela_admin/js/lib/chartist/chartist-init.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'ela_admin/js/custom.min.js' %}"></script>
    {% block jquery %}
    {% endblock %}
</body>

</html>