{% for each in courses %}
    <tr>
        <td>{{ each.course }}</td>
        <td>{{ each.teacher }}</td>
        <td>{{ each.room }}</td>
        <td>{{ each.day }}</td>
        <td>{{ each.credit }}</td>
        <td style="text-align: right">
            <button type="button"
                    class="btn btn-info btn-sm js-update-course"
                    data-url="{% url 'course_update' each.pk %}">
                <i class="ion-edit"></i> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-course"
                    data-url="{% url 'course_delete' each.pk %}">
                <i class="ion-ios-trash"></i> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="6" class="text-center bg-warning">
            <strong>No Course</strong>
        </td>
    </tr>
{% endfor %}