<form method="post" action="{% url 'course_update' form.instance.pk %}" class="js-course-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Update Course</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include "ion/course_form_part.html" %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-primary">
            Update Coures
        </button>
    </div>
</form>