<form method="post" action="{% url 'inventory_update' form.instance.pk %}" class="js-inventory-update-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Update Schedule</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include "ion/inventory_form_part.html" %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-primary">
            Update Schedule
        </button>
    </div>
</form>