<form method="post" action="{% url 'inventory_delete' inventory.pk %}" class="js-inventory-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Confirm Schedule Deletion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the inventory <strong>{{ inventory.week.week_start_date }} ~ {{ inventory.week.week_stop_date }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-danger">
            Delete Schedule
        </button>
    </div>
</form>