{% for each in inventorys %}
    <tr>
        <td>{{ each.student }}</td>
        <td>{{ each.course }}</td>
        <td>{{ each.week.week_start_date }} ~ {{ each.week.week_stop_date }}</td>
        <td>
            {% if each.attend %}
                <span style="color: Green">
                    {{ each.attend }}
                </span>
            {% else %}
                <span style="color: Red">
                    {{ each.attend }}
                </span>
            {% endif %}
        </td>
        <td style="text-align: right">
            <button type="button"
                    class="btn btn-info btn-sm js-update-inventory"
                    data-url="{% url 'inventory_update' each.pk %}">
                <i class="ion-edit"></i> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-inventory"
                    data-url="{% url 'inventory_delete' each.pk %}">
                <i class="ion-ios-trash"></i> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="5" class="text-center bg-warning">
            <strong>No Schedule</strong>
        </td>
    </tr>
{% endfor %}