<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <p>{{ teacher }}老師您好：</p>
        <p>要請老師協助進入學校的「校務行政系統>教務資訊系統>學生曠課作業>曠課登錄」登錄<span style="color: #9900ff">{{ student.student }}同學</span>於<span style="color: #9900ff">{{ week.week_start_date }} ~ {{ week.week_stop_date }} {{ day }}</span>的<span style="color: #9900ff">{{ course.course }}</span>缺席，感謝老師的幫忙。</p>
        <br/>
    </body>
</html>