{% extends 'ion/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<form action="{% url 'result_send' %}" method="post" id="js-send-result">
    {% csrf_token %}
    <div class="form-group{% if form.week.errors %} has-error{% endif %}">
        <label for="{{ form.week.id_for_label }}">{{ form.week.label }}</label>
        {% render_field form.week class="form-control" %}
        {% for errors in form.week.errors %}
            <p class="help-block">{{ error }}</p>
        {% endfor %}
    </div>
    <button type="Send" class="btn btn-primary" id="sb">Submit</button>
</form>
{% endblock %}
{% block jquery %}
    <script>
        $("#js-send-result").on("submit", function () {
            var form = $(this);
            var btn = $("#sb");
            btn.attr("disabled", "disabled");
            alert("Please wait a few seconds!");
            $.ajax({
                url: form.attr("action"),
                data: form.serialize(),
                type: form.attr("method"),
                dataType: "json",
                success: function (data) {
                    alert(data.message);
                    btn.removeAttr("disabled");
                }
            });
            return false;
        });
    </script>
{% endblock %}