{% for each in students %}
    <tr>
        <td>{{ each.student }}</td>
        <td style="text-align: right">
            <button type="button"
                    class="btn btn-info btn-sm js-update-student"
                    data-url="{% url 'student_update' each.pk %}">
                <i class="ion-edit"></i> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-student"
                    data-url="{% url 'student_delete' each.pk %}">
                <i class="ion-ios-trash"></i> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="2" class="text-center bg-warning">
            <strong>No Student</strong>
        </td>
    </tr>
{% endfor %}