{% for each in teachers %}
    <tr>
        <td>{{ each.teacher }}</td>
        <td>{{ each.email }}</td>
        <td style="text-align: right">
            <button type="button"
                    class="btn btn-info btn-sm js-update-teacher"
                    data-url="{% url 'teacher_update' each.pk %}">
                <i class="ion-edit"></i> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-teacher"
                    data-url="{% url 'teacher_delete' each.pk %}">
                <i class="ion-ios-trash"></i> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3" class="text-center bg-warning">
            <strong>No Teacher</strong>
        </td>
    </tr>
{% endfor %}