<form method="post" action="{% url 'teacher_delete' teacher.pk %}" class="js-teacher-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Confirm Teacher Deletion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the teacher <strong>{{ teacher.teacher }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-danger">Delete Teacher</button>
    </div>
</form>