<form method="post" action="{% url 'week_delete' week.pk %}" class="js-week-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Confirm Week Deletion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="lead">Are you sure you want to delete the week <strong>{{ week.week_start_date }} ~ {{ week.week_stop_date }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-danger">
            Delete Week
        </button>
    </div>
</form>