{% extends 'ion/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}
    <p>
        <button type="button" class="btn btn-primary js-create-week" data-url="{% url 'week_create' %}">
            <i class="ion-plus"></i>
            New Week
        </button>
    </p>

    <table class="table table-hover table-striped" id="week-table">
        <thead>
            <tr class="thead-dark">
                <th>Week</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% include 'ion/week_list_part.html' %}
        </tbody>
    </table>

    <div class="modal fade" id="modal-week">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block jquery %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/week.js' %}"></script>
{% endblock %}