{% load widget_tweaks %}

{% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.label != "Week" %}
            {% render_field field type="date" class="form-control" %}
        {% else %}
            {% render_field field class="form-control" %}
        {% endif %}
        {% for errors in field.errors %}
            <p class="help-block">{{ error }}</p>
        {% endfor %}
    </div>
{% endfor %}