{% load widget_tweaks %}

<form method="post" action="{% url 'week_create' %}" class="js-week-create-form">
    {% csrf_token %}
    <div class="modal-header">
        <h4 class="modal-title">Create a new Week</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        {% include "ion/week_form_part.html" %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button type="submit" class="btn btn-primary">
            Create Week
        </button>
    </div>
</form>