{% for each in weeks %}
    <tr>
        <td>{{ each.week }}</td>
        <td>{{ each.week_start_date }} ~ {{ each.week_stop_date }}</td>
        <td style="text-align: right">
            <button type="button"
                    class="btn btn-info btn-sm js-update-week"
                    data-url="{% url 'week_update' each.pk %}">
                <i class="ion-edit"></i> Edit
            </button>
            <button type="button"
                    class="btn btn-danger btn-sm js-delete-week"
                    data-url="{% url 'week_delete' each.pk %}">
                <i class="ion-ios-trash"></i> Delete
            </button>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="3" class="text-center bg-warning">
            <strong>No Week</strong>
        </td>
    </tr>
{% endfor %}